install:
    - git submodule update --init --recursive

os:
    - Visual Studio 2015

platform:
    - x86
    - x64

configuration:
    - Debug
    - Release

build:
    parallel: true
    project: build\CpuTrace\CpuTrace.sln
